*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree';
    margin: 0;
}
body{
    background-image: url(images/pc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
header{
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: rgb(249, 245, 245);
text-align: center;
}
.name{
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 16px;
margin-top: 0px;
padding-top: 10px;
}
.bars{
    border-radius: 5px;
    width: 220px;
    height: 30px;  
}
#mouse, #keyboard, #monitor{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    margin-right: 10px;
}
#instructions{
    border-radius: 5px;
    width: 300px;
    height: 50px;
}
.inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.delivery, .info {
    padding: 25px;
    width: 350px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.summary{
    margin-top: 10px;
    padding: 25px;
    width: 350px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 68px;
    padding-bottom: 50px;
}
.name{
    display: grid;
}
.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}  
.minus,.plus{  
    cursor: pointer;
    font-size: 25px;    
    text-align: center;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);  
    
}
.num{
    width: 62;
    height: 40;
    padding: 0;
}
.order{
    color: #3B1C83;
}
#previewbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-bottom: 20px;
    padding-top: -20px;
}
#previewBtn {
    font-size: 1.25em;
 }
 